{% extends "base.html" %}
{% block content %}
<h1 align="center">Your Notes</h1>
<form method="POST" enctype=multipart/form-data>
    <input  type="file" name="file" id="note" class="form-control">
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
<ul class="1list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        <div>{{note.date}}</div>
        <div>liked:{{note.liked}}</div>
        <img src="{{url_for('static',filename=note.data)}}" alt="User Image" >
        <button type="button"  onclick="deleteNote({{ note.id }})">
            <span aria-hidden="true">Delete note</span>
        </button>
    </li>  
    {% endfor %}
</ul>
{% endblock %}