{% extends "base.html" %}

{% block content %}
<h1 align="center">Login to upload and manage your notes</h1>
<ul class="1list-group list-group-flush" id="notes">
    {% for note in notes %}
    <li class="list-group-item">
        <div>Uploader:{{note.user_name}}</div>
        <div>Date:{{note.date}}</div>
        <div>Liked:{{note.liked}}</div>
        
        <div class="text-center">
            <img  src="{{url_for('static',filename=note.data)}}" class="rounded" alt="User Image" >
        </div>
        <div>
            <button type="button" class="btn btn-primary" onclick="likeNote({{ note.id }})">
                <span aria-hidden="true">+1 like</span>
            </button>
        </div>
    </li>  
    {% endfor %}
</ul>
{% if paginate.has_prev %}
<div>
<a href="/index/?page={{ paginate.prev_num }}">previos page</a>
</div>
{% endif %}
{% if paginate.has_next %}
<div>
<a href="/index/?page={{ paginate.next_num }}">next page</a>
</div>
{% endif %}

{% endblock %}